.App {
  text-align: center;
  font-family: Arial, sans-serif;
  padding: 20px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* UserList.css */
.user-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center the UserList horizontally */
  align-items: center; /* Center the UserList vertically */
  height: 100%; /* Ensure UserList takes up the full height of the container */
}

/* User.css */
/* User.css */
.user {
  background-color: #f0f0f0;
  border: 1px solid #ddd;
  padding: 10px;
  margin: 10px;
  width: 300px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);

  /* Center the user component */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
h1 {
  font-size: 24px;
  margin-bottom: 20px;
}
h2 {
  font-size: 18px;
  margin: 0;
}

p {
  margin: 5px 0;
}
button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 5px 10px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}